<p>
  <strong><%= t('.number') %></strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('.station') %></strong>
  <% if @train.current_station.present? %>
  <%= @train.current_station&.title || 'Нет Станции' %>
  <% end %>
</p>

<p>
  <strong><%= t('.route') %></strong>
  <% if @train.route.present? %>
  <%= @train.route.name || 'Нет Маршрута' %>
  <% end %>
</p>

<p>
  <strong><%= t('.car') %></strong>
  <p>
  <% if @train.cars.present? %>
    <%  @train.sorted_cars.each do |car| %>
      <%= link_to car.number, car_path(car) %><br>
    <% end %>
  </p>
  <% else %>
      Нет вагонов
  <% end %>
</p>

<p>
  <strong><%= t('.sits') %></strong><br>
  <% if @train.cars.present? %>
    <% @train.places_count.each do |place, quantity| %>
      <%= "#{place}: #{quantity}" %>
    <% end %>
  <% else %>
    Нет вагонов
  <% end %>
</p>

<p>
<%= link_to t('common.add'), new_admin_train_car_path(@train) %>
</p>

<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
