<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон:</strong>
  <%= @car.counter %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= @car.type %>
</p>

<p>
  <strong>Поезд:</strong>
  <%= @car.train.number %>
</p>

<%= link_to 'Редактировать', edit_car_path(@car) %>
<%= link_to 'Назад', :back %>
